/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Playfair Display', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

li, nav a {
  list-style: none;
  font-size: 1.25em;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  color: black;
  height: 3em;
}

.nav-logo {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.logo {
  width: 10%;
  float: left;
  display: block;
}

.nav-links {
  margin: 0 auto;
}

nav li {
  width: 10%;
  height: 100%;
  display: block;
  float: left;
  padding: .2em .2em .2em .2em;
  text-align: center;
}

/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
