/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --font: 'Roboto', Arial, Helvetica, sans-serif;
  --main-grey: rgb(223, 232, 238);
  --main-lightgrey: rgb(245, 249, 252);
  --main-darkgrey: rgb(49, 70, 88);
  --main-white: rgb(255, 255, 255);
}

body {
  font-family: 'Cinzel', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

li,
nav a {
  list-style: none;
  font-size: 1.1em;
}

.video,
.lookbook,
.services {
  contain: content;
}

.imgOne {
  background: url('../img/highlights-lb.jpg') no-repeat center;
  background-size: cover;
}

.imgTwo {
  background: url('../img/jewelry.jpg') no-repeat center;
  background-size: cover;
}

.imgThree {
  background: url('../img/red-head.jpg') no-repeat center;
  background-size: cover;
}

.imgFour {
  background: url('../img/power-pose.jpg') no-repeat center;
  background-size: cover;
}

.imgFive {
  background: url('../img/red-nails.jpg') no-repeat center;
  background-size: cover;
}

.imgSix {
  background: url('../img/red-lips.jpg') no-repeat center;
  background-size: cover;
}

.imgSquare,
.imgRectangle {
  width: 360px;
  height: 360px;
  border: 5px solid white;
}
.imgRectangle {
  height: 760px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* HEADER/NAV */
header {
  color: black;
  height: 3em;
}

.nav-logo {
  width: 100px;
  max-height: 100%;
  height: 40px;
  object-fit: cover;
}

.logo {
  width: 12%;
  float: left;
  display: block;
}

.nav-links {
  margin: 0 auto;
}

nav li {
  width: 10%;
  height: 100%;
  display: block;
  float: left;
  padding: 0.2em 0.2em 0.2em 0.2em;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav a {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 767px) {
  nav a {
    display: none;
  }

  nav li {
    display: none;
  }
}

/* MAIN 1 */
.main-landing {
  color: white;
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  height: 150vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/highlights.jpg');
}

.blonde-highlight {
  display: block;
  width: 50%;
  float: left;
  font-size: 2em;
  margin-left: 3em;
}

.our-services {
  background-color: black;
  color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.first-visit {
  background: black;
  width: 25%;
  margin-top: 50px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  text-align: center;
  font-size: 0.75em;
}

.main-info {
  width: 50%;
  float: right;
  margin-right: 3em;
}

.hours-vertical {
  display: block;
  float: right;
  writing-mode: vertical-rl;
  margin-top: 1vh;
}

.arrows {
  float: right;
  margin-top: 65vh;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .blonde-highlight {
    font-size: 1em;
    margin-top: 5em;
  }

  .first-visit {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-landing {
    background-size: contain;
    background-position: top;
  }
}

/* MAIN 2: Three columns */

.threesec {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 4em 4em 4em 4em;
}

.vector {
  width: 100px;
  height: 100px;
}

.three-col-one,
.three-col-two,
.three-col-three {
  width: 33.3333%;
  float: left;
}

/* MAIN 3: Momentum */

.momentum {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 5em 5em 5em 5em;
  background-color: var(--main-grey);
}

.momentum-one,
.momentum-two {
  width: 50%;
}

.momentum-one {
  padding-left: 3em;
  float: left;
}

.momentum-two {
  object-fit: cover;
  float: right;
  padding-right: 3em;
}

.momentum button {
  background-color: #000;
  color: #fff;
}

.woman-salon {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .momentum h2 {
    font-size: 2em;
    padding-top: 1em;
  }
  .momentum {
    padding: 1em 1em 1em 1em;
    line-height: 1.5;
    font-size: 0.7em;
  }
  .woman-salon {
    padding: 3em 3em 3em 3em;
  }
}

/* MAIN 3: Stylists */
.stylists {
  clear: both;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: auto auto;
  padding: 6em 6em 6em 6em;
}

.three-stylists {
  display: block;
  overflow: hidden;
  margin: auto auto;
}

.stylist-one,
.stylist-two,
.stylist-three {
  width: 33.3333%;
  float: left;
  padding: 5em 5em 5em 5em;
}

.stylist-info {
  background-color: black;
  margin: auto auto;
  color: white;
  padding: 2em 2em 2em 2em;
}

.stylist-img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1921px) and (max-width: 2560px) {
  .three-stylists {
    padding-left: 22em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stylists {
    padding: 4em 4em 4em 4em;
    font-size: 0.5em;
  }
  .stylist-one,
  .stylist-two,
  .stylist-three {
    padding: 0.2em 0.2em 0.2em 0.2em;
  }
}

/* MAIN 4: Color Day Offer */
.color-day {
  clear: both;
}

.couponBig {
  background: url('../img/Promo-Banner-Image.jpg') no-repeat center;
  background-size: cover;
}

.couponBig {
  width: 80%;
  margin: auto auto;
  padding: 10% 5%;
  clear: both;
}

.couponBig .contentWrapper {
  width: 50%;
  text-align: left;
}

/* MAIN 5: Our Lookbook */
.lookbook {
  padding: 5% 15%;
  width: 100%;
}

.text {
  font-size: 3rem;
  text-align: center;
}

.imgColumn {
  float: left;
}

.allImages,
.imgColumn {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  contain: content;
}

.lookbook .allImages {
  padding-left: 7%;
}

.imgColumn,
.stylistImgWrapper {
  width: 33%;
  float: left;
}

.lookbook {
  clear: both;
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lookbook {
    padding: 0 0;
    width: 100%;
    height: 100%;
    margin: auto auto;
    display: block;
  }

  .lookbook .allImages {
    padding: 2em 2em 2em 2em;
  }
}

@media screen and (max-width: 768px) {
  .lookbook {
    padding: 0 0;
  }

  .lookbook .allImages {
    padding: 3em 3em 3em 3em;
  }

  .imgColumn,
  .stylistImgWrapper {
    width: 100%;
    float: left;
  }

  .imgSquare,
  .imgRectangle {
    width: 250px;
    height: 250px;
    background-size: cover;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.lookbook-hr {
  color: black;
  width: 100px;
  font-weight: bold;
}
